---
import { Search, SquarePen, Bell, Menu } from "@lucide/astro";
---

<header class="sticky top-0 z-50 bg-background border-b border-b-gray-100">
    <div class="flex items-center justify-between px-6 h-[57px]">
        <div class="flex items-center gap-2">
            <!-- Hamburguesa -->
            <button
                class="hover:bg-surface-muted rounded-full transition-colors me-2"
            >
                <Menu
                    class="h-6 text-foreground text-gray-500"
                    stroke-width={1}
                />
            </button>

            <!-- Logo -->
            <div class="flex items-center gap-2">
                <span class="font-logo">Midium</span>
            </div>

            <!-- Search -->
            <div class="relative bg-gray-50 rounded-full w-60 ms-4">
                <Search
                    class="absolute left-3 top-1/2 transform -translate-y-1/2 text-foreground-muted h-6 text-gray-600"
                    stroke-width={1}
                />
                <input
                    type="text"
                    placeholder="Search"
                    name="search"
                    class="pl-10 ms-2 text-sm placeholder-gray-600 text-gray-900 border-none w-full h-10 rounded focus:outline-none focus:ring-0"
                />
            </div>
        </div>

        <!-- Right side - Actions -->
        <div class="flex items-center gap-8">
            <button
                class="hidden md:flex items-center gap-2 text-foreground-muted hover:text-foreground"
            >
                <SquarePen class="h-6 text-gray-500" stroke-width={0.9} />
                <span class="text-sm text-gray-500">Write</span>
            </button>
            <button class="text-foreground-muted hover:text-foreground">
                <Bell class="h-6 text-gray-500" stroke-width={0.9} />
            </button>
            <div
                class="w-8 h-8 bg-accent-green rounded-full flex items-center justify-center text-white bg-gray-500 font-medium text-lg"
            >
                J
            </div>
        </div>
    </div>
</header>
