---
import {
    House,
    Bookmark,
    User,
    FileText,
    ChartNoAxesColumnIncreasing,
    Users,
} from "@lucide/astro";

const navigationItems = [
    { icon: House, label: "Home", active: true },
    { icon: Bookmark, label: "Library" },
    { icon: User, label: "Profile" },
    { icon: FileText, label: "Stories" },
    { icon: ChartNoAxesColumnIncreasing, label: "Stats" },
];
---

<aside
    class="fixed left-0 top-14 h-[calc(100vh-3.5rem)] w-60 border-e bg-white border-gray-100 transition-all duration-300 hidden xl:block z-10"
>
    <nav class="p-6 space-y-1">
        {
            navigationItems.map((item) => {
                const Icon = item.icon;

                return (
                    <a
                        class={`w-full cursor-not-allowed flex items-center gap-3 px-3 py-2 rounded-lg text-gray-600 font-light ${
                            item.active ? " text-gray-950 font-normal" : ""
                        }`}
                    >
                        <Icon
                            class={`w-6 h-6 ${item.active ? "text-gray-950" : "text-gray-600"} `}
                            stroke-width={0.9}
                        />
                        {item.label}
                    </a>
                );
            })
        }

        <!-- Sección Following -->
        <div class="pt-6 mt-6 border-t border-gray-100">
            <a
                class="w-full cursor-not-allowed flex items-center gap-3 px-3 py-2 rounded-lg"
            >
                <Users class="w-6 h-6 text-gray-600" stroke-width={0.9} />
                <span class="text-gray-600 text-base font-light">Following</span>
            </a>

            <div class="mt-4 px-3">
                <div class="flex items-start gap-3">
                    <User
                        class="w-5 h-5 text-gray-600 flex-shrink-0 mt-1"
                        stroke-width={0.9}
                    />
                    <div class="flex flex-col">
                        <p class="text-sm text-gray-600 mb-1">
                            Discover more writers and publications to follow.
                        </p>
                        <a
                            class="text-sm cursor-not-allowed text-gray-600 text-accent-green hover:text-accent-green-hover underline"
                        >
                            See suggestions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</aside>
