---
import Header from "../components/Header.astro";
import RightSidebar from "../components/RightSidebar.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="min-h-screen bg-background">
            <Header />
            <div class="flex flex-col md:flex-row min-h-screen">
                <Sidebar />

                <div class="flex-1">
                    <main>
                        <div class="max-w-4xl mx-auto py-8">
                            <slot />
                        </div>
                    </main>
                </div>

                <RightSidebar />
            </div>
        </div>
    </body>
</html>
