---
import Header from "../components/Header.astro";
import RightSidebar from "../components/RightSidebar.astro";
import Sidebar from "../components/Sidebar.astro";
import { ArrowUpRight } from "@lucide/astro";
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="min-h-screen bg-background">
            <div
                class="bg-white border-b border-gray-100 flex justify-center items-center h-10 text-gray-400 text-sm sm:hidden"
            >
                <a href="" class="flex gap-2">
                    Open in App
                    <ArrowUpRight class="w-4" />
                </a>
            </div>
            <Header />
            <div class="flex flex-col md:flex-row min-h-screen">
                <Sidebar />

                <main class="flex-1 md:ms-100">
                    <div class="max-w-[680px] mx-auto pt-2 md:pt-6 px-6">
                        <slot />
                    </div>
                </main>

                <RightSidebar />
            </div>
        </div>
    </body>
</html>
